body {
    background-color: rgb(237, 213, 133);
    height: 100vh;
}
@keyframes bubble {
    to {
        transform: translateY(-5vh) scale(2); 
        
    }
}
.bubble {
    height: 0.5em;
    width: 0.5em;
    position: absolute;
    border-color: black;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 50%;
    transform: translateY(100vh);
    animation-name: bubble;
    animation-duration: 4s;
    animation-timing-function: linear;
}